p {
    margin-top: 1em;
}



body{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: gainsboro;
    
}


.main-text {
    font-family: monospace;
}

.main-part{
    margin-top: 4em;
    padding: 2em;
}

.project-list{
    margin-top: 4em;
    padding: 1em;
    border: solid;
}


.project-links {
    color: black;
    
}

