p {
    margin-top: 1em;
}



body{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: gainsboro;
    
}

img{
    width: 100%;
}

.main-text {
    font-family: monospace;
}

.project-list{
    margin-top: 4em;
    color: aqua;
}

.project-links {
    color: black;
    
}

